<!--The content below is only a placeholder and can be replaced.-->
<head>
  <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
</head>
<div style="position: absolute; top: 0; left: 0;" class="hero-bkg-animated">
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<nav>
  <ul>
    <div *ngIf="this.router.url === '/home'">
      <li class="active"><a [routerLink]="['/home']" class="item" >Student list</a></li>
      <li><a [routerLink]="['/spooky']" class="item">2spooky4me</a></li>
      <li *ngIf="!checkIsLogged()" style="float: right"><a [routerLink]="['/login']" class="item, inactive">Login</a></li>
    </div>
    <div *ngIf="this.router.url === '/spooky'">
      <li><a [routerLink]="['/home']" class="item" >Student list</a></li>
      <li class="active"><a [routerLink]="['/spooky']" class="item">2spooky4me</a></li>
      <li *ngIf="!checkIsLogged()" style="float: right"><a [routerLink]="['/login']" class="item, inactive">Login</a></li>
    </div>
    <div *ngIf="this.router.url === '/login'">
      <li><a [routerLink]="['/home']" class="item" >Student list</a></li>
      <li><a [routerLink]="['/spooky']" class="item">2spooky4me</a></li>
      <li *ngIf="!checkIsLogged()" style="float: right"><a [routerLink]="['/login']" class="item, active">Login</a></li>
    </div>
    <li *ngIf="checkIsLogged()" style="float: right"><button (click)="signOut()" class="item, inactive">Logout</button></li>
  </ul>
  <hr style="height:5pt; visibility:hidden;" />
  <hr size="2" color="black"/>
</nav>
<p><router-outlet></router-outlet></p>
</div>

