<div class="pure-g">
  <div class="pure-u-1-4 move-section"><p>{{student.firstname}} {{student.lastname}}</p></div>
  <div class="pure-u-1-4 move-section"><p>{{student.studentID}}</p></div>
  <div class="pure-u-1-4 move-section"><p>Average: {{student.average === 0 ? "No marks" : student.average}}</p></div>
<div class="pure-u-1-4 pure-button-group move-section" role="manageStudent"><p>
  <button [hidden]="!checkIsLogged()" class="pure-button button-small" (click)="toggleAddMark()">{{showAddMark === true ? "Cancel" : "Add mark"}}</button>
  <button class="pure-button button-small" (click)="toggleAllMarks()">{{showAllMarks === true ? "Hide all marks" : "Show all marks"}}</button>
  <button [hidden]="!checkIsLogged()" class="pure-button button-small button-delete" (click)="removeStudent()">Delete student</button>
</p></div>
</div>
<div *ngIf="showAllMarks">
  <ol>
    <li *ngFor="let mark of student.marks">
      <div *ngIf="!mark.isBeingEdited">
        Subject: {{mark.subject}}<br>
        Mark: {{mark.value}}<br>
        Weight: {{mark.weight}}<br>
        <button [hidden]="!checkIsLogged()" class="pure-button pure-button-primary button-small" (click)="toggleEditState(mark)">Edit mark</button> <button [hidden]="!checkIsLogged()" class="pure-button button-delete button-small" (click)="deleteMark(mark)">Delete mark</button>
      </div>
      <div *ngIf="mark.isBeingEdited">
        <form class="pure-form" [formGroup]="editMarkForm">
          Subject:
          <input class="form-control" formControlName="subject" type="text" name="editSubject" value={{mark.subject}} #subject><br>
          Mark:
          <input class="form-control" formControlName="mark" type="number" name="editMark" value={{mark.value}} min="1" max="6" #value><br>
          Weight:
          <input class="form-control" formControlName="weight" type="number" name="editWeight" value={{mark.weight}} min="1" max="5" #weight><br>
          <button [disabled]="((editMarkForm.controls['subject'].dirty || editMarkForm.controls['subject'].touched) && editMarkForm.controls['subject'].invalid) ||
                              ((editMarkForm.controls['mark'].dirty || editMarkForm.controls['mark'].touched) && editMarkForm.controls['mark'].invalid) ||
                              ((editMarkForm.controls['weight'].dirty || editMarkForm.controls['weight'].touched) && editMarkForm.controls['weight'].invalid)"
                  class="button-small pure-button pure-button-primary" type="submit" (click)="editMark(mark, subject, value, weight); editMarkForm.reset();">Submit
          </button>
        </form>
      </div>

    </li>
  </ol>
</div>

<div *ngIf="showAddMark">
  <form class="pure-form" [formGroup]="editMarkForm">
    <fieldset>
      Subject:
      <input class="form-control" formControlName="subject" type="text" name="newSubject" required autofocus #subject>
      Mark:
      <input class="form-control" formControlName="mark" type="number" name="newMark" required min="1" max="6" #mark>
      Weight:
      <input class="form-control" formControlName="weight" type="number" name="newWeight" required min="1" max="5" #weight>
      <button [disabled]="editMarkForm.invalid" class="pure-button pure-button-primary button-small" type="submit" (click)="addMark(subject, mark, weight); resetEditStates(); toggleAddMark(); editMarkForm.reset();">Submit</button>
    </fieldset>
  </form>
</div>
